@charset "UTF-8";
#currencies-block-top {
  float: right;
  position: relative;
  margin-left: 22px; }
  @media (max-width: 479px) {
    #currencies-block-top {
      margin-top: 12px; } }
  #currencies-block-top span.firstWord {
    display: none; }
  #currencies-block-top div.current {
    padding: 0;
    color: #333333;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px; }
    @media (max-width: 479px) {
      #currencies-block-top div.current {
        text-align: center;
        padding: 0; } }
    #currencies-block-top div.current strong {
      font-weight: normal; }
    #currencies-block-top div.current:hover, #currencies-block-top div.current.active {
      color: #777777; }
    #currencies-block-top div.current:after {
      content: "";
      font-family: "FontAwesome";
      font-size: 13px;
      line-height: 18px;
      color: #333333;
      padding-left: 7px; }
      @media (max-width: 479px) {
        #currencies-block-top div.current:after {
          padding-left: 2px;
          font-size: 13px;
          line-height: 13px;
          vertical-align: 0; } }
    #currencies-block-top div.current.active:after {
      content: ""; }
    @media (max-width: 479px) {
      #currencies-block-top div.current .cur-label {
        display: none; } }
  #currencies-block-top ul {
    display: none;
    position: absolute;
    top: 26px;
    right: 0;
    width: 157px;
    background: #fff;
    z-index: 2; }
    #currencies-block-top ul li {
      color: #333;
      line-height: 35px;
      font-size: 13px; }
      #currencies-block-top ul li a,
      #currencies-block-top ul li > span {
        padding: 0 10px 0 12px;
        display: block;
        color: #333;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      #currencies-block-top ul li:hover a, #currencies-block-top ul li.selected span, #currencies-block-top ul li.selected a {
        background: #333;
        color: #fff; }
  @media (max-width: 479px) {
    #currencies-block-top {
      clear: left; } }
