.header_user_info {
  float: left;
  margin-right: 22px; }
  .header_user_info a {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    color: #333333;
    cursor: pointer;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header_user_info a:hover, .header_user_info a.active {
      color: #b6b6b6; }
  .header_user_info + .header_user_info {
    border-right: none; }

.user_info {
  margin: 20px 0 0 0; }
  .user_info li {
    display: inline-block;
    padding-right: 15px; }
    .user_info li a {
      text-decoration: none; }
      .user_info li a:hover {
        text-decoration: underline; }
