.stickUpTop {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(39, 39, 39, 0.95);
  padding: 54px 0 48px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.stickUpHolder {
  padding: 0; }

@media only screen and (max-width: 1199px) {
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px; } }
#block_top_menu {
  padding-top: 11px; }
