/* Cake
 v.1.0 */

@import url("reset.css");

@font-face {
    font-family: 'Appetite';
    src: url('/fonts/Appetite.eot');
    src: url('/fonts/Appetite.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Appetite.woff') format('woff'),
         url('/fonts/Appetite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'RotondaC_Bold';
    src: url('/fonts/RotondaC_Bold.eot');
    src: url('/fonts/RotondaC_Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/RotondaC_Bold.woff') format('woff'),
         url('/fonts/RotondaC_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General */

html {
	height: 100%;
}

body {
	font-family: 'RotondaC_Bold';
	font-size: 14px;
	color: #2f150d;
	line-height: 1.3;
	text-shadow: 1px 1px 0px rgba(245, 214, 181, 1);
	min-height: 100%;
	background: #d7a97b;
}

a {text-decoration: none;}

h1, h2, h3, h4, h5, h6 {text-align: center; font-family: 'Appetite';}

h1 {font-size: 48px;}
h2 {font-size: 38px;}
h3 {font-size: 32px;}

.fl {float: left;}
.fr {float: right;}

.clear {
	clear: both;
	overflow: hidden;
}

.container {
	position: relative;
	margin: 0 auto;
}

.corner {
	//position: absolute;
	//bottom: -7px;
	width: 100%;
	height: 7px;
	background: url(/img/front/corners_sprite.png) repeat-x;
}

.corner.bottom.red {background-position: 0 0;}
.corner.top {background-position: 0 -8px;}
.corner.bottom {background-position: 0 -19px;}

[class*="col-"] img {
	max-width: 100%;
	height: auto;
}

#toTop {
	display: none;
	position: fixed;
	top: 70%; right: 0;
	width: 35px;
	height: 33px;
	z-index: 10000;
	background: url(/img/front/scroll_up.png) no-repeat;
}

/* Header */

header {
	position: relative;
	background: #b61f2f;
}

header .navbar {
	margin: 1px 0;
}

header .navbar li {
	margin: 0 30px;
	text-align: center;
}

header .navbar a {
	font-size: 16px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(84, 46, 4, 1);
}

header .navbar .active a,
header .navbar a:hover {
	color: #ffd7b0;
}

header .cart {
	display: block;
	float: right;
	height: 40px;
	margin-top: 10px;
	padding: 3px 0 0 50px;
	text-align: right;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(84, 46, 4, 1);
	background: url(/img/front/cart_icon.png) no-repeat;
}

/* top bar */

.top_bar {
	margin: 20px 0;
}

.top_bar .social_block {
	margin-top: 17px;
	padding-left: 23%
}

.info_text {
	margin-top: 12px;
	font-size: 16px;
	text-align: center;
}

.info_text .tel {font-size: 24px;}
.info_text .mail {font-size: 20px;}

.top_bar .lang,
.top_bar .social {
	width: 100%;
	overflow: hidden;
}

.top_bar .lang {
	margin-left: 15px;
	padding: 7px 0 10px 0;
}

.top_bar .lang li {
	float: left;
}

.top_bar .lang li a {
	padding: 0 10px;
	font-family: 'Appetite';
	color: #2f150d;
	text-shadow: 1px 1px 0px rgba(245, 214, 181, 1);
}


.top_bar .lang li.active a {
	padding: 5px 10px 7px 10px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(84, 46, 4, 1);
	background: #b61f2f;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
}

.top_bar .social li {
	float: left;
}

.top_bar .social li a {
	display: block;
	width: 31px;
	height: 31px;
	margin: 17px 10px 0 0;
	background: url(/img/front/social_sprite.png) no-repeat;
}

.top_bar .social li.fb a {background-position: 0 0;}
.top_bar .social li.vk a {background-position: -40px 0;}
.top_bar .social li.inst a {background-position: -80px 0;}

.top_bar .cart_image {
	padding-top: 15px;
	text-align: right;
}

.top_bar .cart_big {
	padding-top: 40px;
	text-align: right;
	font-size: 16px;
	color: #2f150d;
	text-shadow: 1px 1px 0px rgba(245, 214, 181, 1);
}

/* Catalog */

.catalog {
	padding: 40px 0;
	background: #382b1d;
}

.catalog h1 {
	color: #ffd7b0;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.catalog .row {
	text-align: center;
	padding: 30px 0;
}

.catalog p {
	text-transform: uppercase;
	font-size: 21px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(84, 46, 4, 1);
}

.catalog img {
	padding-bottom: 20px;
}

.catalog a:hover p {
	color: #ffbd7b;
}

.catalog a.scroll {outline: none;}

/* Order block */

.order_block {
	padding-bottom: 100px;
}

.order_block .row {
	margin-top: 30px;
}

.order_block .description {text-align: center;}
.order_block .cake_preview {text-align: right;}

.order_block .description p {
	margin-top: 20px;
	font-size: 22px;
}

.order_block .description .spec {
	margin-top: 20px;
}

.order_block .description .spec span {
	margin-right: 15px;
	font-size: 18px;
}

.order_block .description .spec .price {color: #750202;}
.order_block .description .spec .price i {font-size: 29px;}

.order_block .description .spec .weight,
.order_block .description .spec .slice {
	padding: 3px 0 0px 30px;
	background: url(/img/front/weight_count.png) no-repeat;
}

.order_block .description .spec .weight {background-position: 0 -1px;}
.order_block .description .spec .slice {background-position: 0 -28px;}

.order_block .make_order {
	height: 11px;
	position: relative;
	background: url(/img/front/order_bg.png);
}

.order_block .make_order .ord_btn {
	position: absolute;
	left: 50%; top: -21px;
	margin-left: -80px;
	font-family: 'Appetite';
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(84, 46, 4, 1);
	padding: 10px 25px;
	border: 2px solid #fff;
	background: #382b1d;
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
			border-radius: 7px;
}

.order_block .make_order .ord_btn:hover,
.order_block .make_order .ord_btn.active {
	background: #990e0e;
	-webkit-transition: background-color 0.3s ease;
	   -moz-transition: background-color 0.3s ease;
			transition: background-color 0.3s ease;
}

/* Reviews */

.reviews {
	padding: 32px 0 57px;
	background: #382b1d;
}

.reviews h2 {
	color: #fdc893;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.reviews .carousel {
	margin-top: 35px;
}

.reviews .carousel-inner .item {
	padding: 0 110px;
	font-size: ;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.reviews .carousel-inner .sign {
	margin-top: 5px;
	font-size: 18px;
	color: #fdc893;
}

.reviews .carousel-control {
	top: 10px;
	width: 54px;
	height: 54px;
	background: url(/img/front/slider_arrows.png) no-repeat;
}

.reviews .carousel-control.right {background-position: -65px 0;}

/* About Us */

.about_us {
	text-align: center;
	margin-top: 32px;
}

.about_us .text_block {
	text-align: left;
	margin: 30px 0 50px;
}

.about_us .text_block p {
	margin-bottom: 7px;
	font-size: 18px;
}

/* Delivery */

.delivery {
	padding: 40px 0 30px;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
	background: #382b1d;
}

.delivery .info_text {margin-top: 17px;}
.delivery .pack .info_text {margin-top: 40px;}

.delivery .info_text .mail {
	font-size: 18px;
}

.delivery .pack {
	//padding: 43px 0px 50px 100px;
	
	//background: url(/img/front/pack.png) no-repeat;
}

.delivery .pack .info_text {
	font-size: 18px;
}

/* Footer */

footer {
	padding: 35px 0;
}

footer h4 {
	margin-top: 10px;
	text-align: left;
	font-family: 'RotondaC_Bold';
	font-size: 22px;
}

footer p {
	margin-top: 10px;
	font-size: 11px;
}

footer ul {
	font-size: 11px;
}

footer ul li {
	padding-left: 10px;
	background: url(/img/front/dot.png) no-repeat 0 50%;
}



@media screen and (min-width: 992px) and (max-width: 1199px) {
	.top_bar .cart_big {
		padding-top: 36px;
		font-size: 13px;
	}

	

}

@media screen and (min-width: 768px) and (max-width: 992px) {
	header .navbar li {
		margin: 0 27px;
	}

	.info_text {margin: 0;}
	.info_text, .info_text .mail {font-size: 14px;}
	.info_text .tel {font-size: 20px;}

	.top_bar .social_block {margin-top: 7px;}
	.top_bar .social li a {margin: 17px 8px 0 0;}

	.top_bar .cart_big {padding-top: 30px}

	.order_block .description p {font-size: 18px;}
	.order_block .cake_preview {margin-top: 20px;}
	.order_block .description .spec span {margin-right: 5px;}

	.delivery .info_text {margin-top: 6px;}
	.delivery .pack .info_text {margin-top: 10px;}
}

@media screen and (max-width: 760px) {
	.logo {text-align: center;}

	.top_bar .cart_big {padding-top: 35px; text-align: left; font-size: 15px;}

	.reviews .carousel-inner .item {padding: 0 55px;}

	.order_block .cake_preview {text-align: center;}

	.delivery .shipping, .delivery .pack {text-align: center;}
	.delivery .pack {margin-top: 30px;}
}