
        .icon-grid {
            background-image:url(/ext/resources/icons/fam/grid.png) !important;
        }
        .add {
            background-image:url(/ext/resources/icons/fam/add.gif) !important;
        }
        .option {
            background-image:url(/ext/resources/icons/fam/plugin.gif) !important;
        }
        .remove {
            background-image:url(/ext/resources/icons/fam/delete.gif) !important;
        }
        .save {
            background-image:url(/ext/resources/icons/save.gif) !important;
        }
        .x-grid-rowbody p {
            margin: .5em 0;
        }